<head>
    <title>Login</title>
</head>
<body>
    <div class="alert-container">
    <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>
    </div>
    <div class="login-container">
        <h1>Login</h1>
        <form class="login-form" (ngSubmit)="handleLogin()">
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" class="form-control" name="username" id="username" [(ngModel)]="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" required>
            </div>

            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </div>
</body>